header {
  background-image: url(../img/wall.png);
}

h1 {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}

main {
  background-image: url(../img/cork.png);
}

.date {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}

.hoverlay {
  background-color: rgba(0, 0, 0, 0.726) !important;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 100;
}

.hoverlay img {
  width: 500px;
  max-width: 100%;
  object-fit: cover;
}

[class*="col"] {
  background-color: white;
}

[class*="col"] .post-card img {
  max-width: 100%;
  object-fit: cover;
  cursor: pointer;
}
#post-card-row [class*="col"]:hover {
  transform: rotate(10deg);
  scale: 110%;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  z-index: 1;
}
#post-card-row [class*="col"] {
  transition: transform 0.7s;
}

#pin {
  position: absolute;
  left: calc(50% - 18px);
  top: -16px;
}

[class*="col"] .post-card {
  padding: 10px 0px;
  position: relative;
  background-color: white;
}
